@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400&display=swap');

/* Box Model Hack */
* {
    box-sizing: border-box;
}

.grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.display {
    background: url(https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80) no-repeat center/cover;
}

.container {
    background-color: #fff;
    font-size: small;
    padding: 0 10px;
    margin: 0;
    text-align: left;
    font-family: 'Economica', Verdana, Geneva, Tahoma, sans-serif;
}

form {
    text-align: left;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
}

.container h3 {
    /* opacity: 0.5; */
    font-size: large;
    color: green;
    letter-spacing: 2px;
}

.container>p {
    letter-spacing: 2px;
}

#name {
    width: 10rem;
    height: 2rem;
    padding: 0.5rem;
}

select {
    width: 10rem;
    height: 2.7rem;
    padding: 0.5rem;
}

button {
    background-color: green;
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 2rem 5rem 0 5rem;
    padding: 14px 30px;
    cursor: pointer;
}

select {
    font-family: inherit;
    width: 10rem;
}

.btn.active {
    transform: scale(0.98)
}

.btn.focus {
    outline: 0;
}

span {
    color: orange;
}